:root {
  /* Layout breakpoints */
  --mobile-width: 375px;
  --desktop-width: 1440px;

  /* Colors */
  --color-yellow: hsl(47, 88%, 63%);
  --color-white: hsl(0, 0%, 100%);
  --color-gray-500: hsl(0, 0%, 42%);
  --color-gray-950: hsl(0, 0%, 7%);

  /* Typography */
  --font-family-base: 'Figtree', sans-serif;
  --font-size-base: 16px;
  --font-weight-medium: 500;
  --font-weight-bold: 800;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  background-color: var(--color-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 3rem;
}

/* Card styles */
.card {
  background-color: var(--color-white);
  border-radius: 1rem;
  box-shadow: 8px 8px 0 0 var(--color-gray-950);
  max-width: 384px;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  overflow: hidden;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
}

/* Card image */
.card__image {
  width: 100%;
  border-radius: 0.5rem;
}

/* Tag */
.card__tag {
  background-color: var(--color-yellow);
  font-weight: var(--font-weight-bold);
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  gap: 0.5rem;
  width: fit-content;
  border-radius: 4px;
  display: inline-block;
}

/* Date */
.card__date {
  color: var(--color-gray-950);
  font-size: 1rem;
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap:0.75rem;
}

/* Title */
.card__title {
  font-weight: var(--font-weight-bold);
  font-size: 1.25rem;
  color: var(--color-gray-950);
}

.card__title:hover {
  color: var(--color-yellow);
  cursor: pointer;
}

/* Description */
.card__description {
  color: var(--color-gray-500);
  font-size: 1rem;
  line-height: 1.5;
}

/* Footer */
.card__footer {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.card__avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.card__author {
  font-weight: var(--font-weight-bold);
  font-size: 0.875rem;
  color: var(--color-gray-950);
}

@media (max-width: 375px) {
  .card {
   max-width: 327px;
  }
}


